# source code
src/
index.html

# compiler
tsconfig.json
webpack.config.js
postcss.config.js
babel.config.js
nodemon.json

# files
*.log
cypress.json
*.code-workspace
.editorconfig

# tests
test/
jest.config.js
setupJest.ts
coverage/

#  lint
.eslintrc
.prettierrc
.eslintignore

# IDE - VSCode
.vscode

# folders
example/
old/
