:root {
  --bwav-color--overlay: rgba(0,0,0,.83);
  --bwav-color--background: #ffffff;
  --bwav-color--text: #747474;
  --bwav-border--radius: 5px;
  --bwav-width--wrapper: 350px;
  --bwav-height--wrapper: 500px;
  --bwav-width--avatar: 55%;
  --bwav--font-size: 12px;

  @media screen and (min-width: 768px) {
    --bwav-width--wrapper: 450px;
    --bwav-height--wrapper: 600px;
    --bwav--font-size: 16px;
  }
}

.bwav {
  background: var(--bwav-color--background);
  border-radius: var(--bwav-border--radius);
  color: var(--bwav-color--text);
  display: flex;
  flex-flow: column;
  position: relative;
  text-align: center;
  width: 100%;

  a {
    color: var(--bwav-color--primary);
    text-decoration: none;

    &:hover { 
      filter: brightness(85%);
      text-decoration: underline;
    }
  }

  p {
    margin-bottom: 24px;
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    display: block;
    width: 100%;
  }

  &--blur > *:not(.bwav__overlay) {
    animation: blur 1000ms forwards;
  }

  &--shown {
    overflow: hidden;
  
    .bwav__overlay {
      display: flex;
    }
  }

  &__overlay {
    align-items: center;
    background: var(--bwav-color--overlay);
    box-sizing: border-box;
    display: none;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
  }

  &__wrapper {
    box-sizing: border-box;
    font: var(--bwav--font-size) / normal sans-serif;
    max-width: var(--bwav-width--wrapper);
    padding: 25px;
    position: relative;
    width: 100%;
  }

  &__close {
    align-items: center;
    background: var(--bwav-color--primary);
    border: 2px solid var(--bwav-color--background);
    border-radius: 100%;
    color: var(--bwav-color--primary-text);
    cursor: pointer;
    display: flex;
    flex-flow: column;
    font-size: 1.5em;
    height: 1.5em;
    justify-content: center;
    position: absolute;
    transform: translate(50%, -50%);
    right: 0;
    top: 0;
    width: 1.5em;
    z-index: 10;
  }

  &__agecheck, &__step {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: var(--bwav-height--wrapper);
    max-height: 70vh;
    padding-left: 15px;
    padding-right: 15px;
  }
  &__agecheck {
    justify-content: space-between;

    &__consent {
      margin-bottom: 20px;
    }

    .bwav__avatar__image {
      background-size: cover;
    }
  }

  &__avatar {
    box-shadow: 0 6px 16px 3px var(--bwav-color--primary-shadow) ;
    border: 10px solid var(--bwav-color--background);
    border-radius: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    margin: -35px auto 40px;
    overflow: hidden;
    position: relative;
    width: var(--bwav-width--avatar);
  
    &--scaleup {
      animation: scaleUp 1000ms 500ms forwards;
    }
  
    &--scaledown {
      animation: scaleUp 1000ms forwards reverse;
    }

    &__image {
      background-repeat: no-repeat;
      background-size: 195px auto;
      background-position: center center;
      height: 0;
      padding-top: 100%;
      position: relative;
      width: 100%;
      z-index: 10;
    
      // .bwav__avatar--blur & {
      //   animation: blur 500ms 1500ms forwards;
      // }

      @media screen and (min-width: 768px) {
        background-size: 245px auto;
      }
    }

    &__image--back {
      background-color: var(--bwav-color--background);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 100%;
      filter: blur(3px);
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__button {
    appearance: none;
    background: var(--bwav-color--primary);
    border: 1px solid var(--bwav-color--primary);
    border-radius: var(--bwav-border--radius);
    color: var(--bwav-color--primary-text);
    cursor: pointer;
    font-weight: bold;
    min-width: 75px;
    padding: 14px 25px 13px;
    text-align: center;
  
    &:hover {
      filter: brightness(85%);
    }
  
    &[disabled] {
      opacity: .2;
      pointer-events: none;
      filter: grayscale(100%);
    }
  }

  &__content {
    overflow: auto;
    padding: 0 5px 25px;
  
    .bwav__step & {
      box-sizing: border-box;
      padding: 0 15px 35px;
    }
  }

  &__actions {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .bwav__question {
    font-size: 1.3em;
    font-weight: bold;
  }
  
  .bwav__intro {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .bwav__title {
    font-size: 1.3em;
    margin-bottom: 18px;
  
    strong {
      color: var(--bwav-color--primary);
    }
  }

  &__footer {
    box-sizing: border-box;
    padding: 10px 10px 25px;
    position: relative;
    width: 100%;
  
    .bwav__step & {
      &:before {
        background: linear-gradient(to bottom, rgba(255,255,255,0), var(--bwav-color--background));
        content: '';
        bottom: 100%;
        height: 30px;
        position: absolute;
        pointer-events: none;
        left: 0;
        width: 100%;
      }
    }
  
    .bwav__actions {
      margin-bottom: 20px;
  
      .bwav__button {
        margin-left: auto;
        margin-right: auto;
      }
    }

    &__logos {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      position: relative;
      padding-top: 12px;
    
      &:after {
        color: var(--bwav-color--primary);
        content: '............................................................................................................';
        font-size: 1.2em;
        left: 50%;
        letter-spacing: 4px;
        line-height: 1;
        overflow: hidden;
        position: absolute;
        top: 0;
        transform: translate(-50%, -80%);
        white-space: nowrap;
        width: 100%;
      }
    }
    &__logo {
      display: flex;
      height: 40px;
      width: 130px;
    
      a {
        display: inline-flex;
        filter: unset !important;
        position: relative;
    
        @supports(mix-blend-mode: screen) {
          &:after {
            background: currentColor;
            content: '';
            height: 100%;
            left: 0;
            mix-blend-mode: screen;
            position: absolute;
            top: 0;
            width: 100%;
          }
        }
      }
    
      img {
        height: 100%;
        object-fit: contain;
        object-position: center;
        width: 100%;
    
        filter: brightness(0) saturate(100%);
      }
      
      &:first-child {
        justify-content: flex-start;
        img {
          object-position: left;
        }
      }
      &:last-child {
        justify-content: flex-end;
        img {
          object-position: right;
        }
      }
    }

    @media (prefers-reduced-motion) {
      &__overlay > * {
        animation-duration: 0 !important;
      }
    }
  }

  
}

@keyframes scaleUp {
  100% {
    margin-top: -50px;
    width: 80%;
  }
}

@keyframes blur {
  to {
    filter: blur(10px);
  }
}